   <div id="page_wrapper">
   <%= form_for([current_user.parties.build]) do |f| %>



  
   <p>
    
    <%= f.hidden_field(:user_id, :value => current_user.id) %>
  </p>


    <p>
    <%= f.label :your_party_picture %><br>
    <%= f.file_field :picture %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :party_venue %><br />
    <%= f.text_field :venue %>
  </p>
   

   <p>
     <%= f.submit %>
   </p>
   
  

  <% end %>
</div>
