





<div id="party">
<h1 class="title">
	<%= @party.title %>
</h1>

<h4><%= @party.venue %></h4>

 <p>
    <%= @party.user.name %>
  </p>



<p class="date">
<p>Submitted <%= time_ago_in_words(@party.created_at) %> Ago
  <% if user_signed_in? %>
 | <%= link_to 'Edit', edit_party_path(@party) %>
 | <%= link_to 'Destroy', @party, method: :delete, data: { confirm: 'Are you sure?' } %>

 
<% end %>
</p>

</p>

<br>


<%= link_to 'My Party', parties_path %>


 <div id="gists">

        <%= render "gists/party_form" %>

        <%= render @party.gists %>

     

 

  


</div>



