<div id="page_wrapper">

	

	
<%= link_to "Public", root_path %>


   <%= link_to "mYParties", parties_path %> 
						
			

			      


  
					    
					  <h4> Start with Creating a party</h4>
					        <%= render 'parties/form' %>

					        <%= render @profile.user.parties %>

					        <%= render @profile.user.visitors %>

					        
					            
					          


				

			






       

					     


	

	




       
    
   </div>
          


	
   

	