
   

   <p>
    <%= f.label(:party_id, "Party") %></th>
    <%= f.text_field(:party_id, :value => @party.title) %>
  <p>
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
    <p>
     <%= f.submit %>
   </p>
   